## **Proyecto 1 - Corte 1**

Nombre: Hugo Fonseca

In [ ]:
class Manipular_tabla:
  
  def __init__(self,vec:list):
    self.tabla = vec
    self.tamano = (len(self.tabla)-1,len(self.tabla[0]))
    self.nombre_columnas = self.tabla[0]
    tipos_datos = []
    self.tipo_datos = [type(elemento) for elemento in self.tabla[1]]

  def verificacion_tamano(self):
    errores = []
    for fila in self.tabla:
      if len(fila) != self.tamano[1]:
        errores.append(fila)
      else:
        None
    if len(errores) == 0:
      print(f'Todas las filas tienene el mismo numero de datos')
    else:
      print(f'Problemas en la fila {errores}')                  

  def actualizar_tamano(self):
    self.tamano = (len(self.tabla)-1,len(self.tabla[0]))
    
  def acceder_columna(self,columna:int):
    if type(columna)==int and self.tamano[1]>=columna>=0:
      return [[col[columna]] for col in self.tabla]
    else:
      print(f'Columna no valida')
  
  def acceder_fila(self,fila:int):
    if type(fila)==int and self.tamano[0]-1>=fila>=0:   
      return self.tabla[1:][fila]  # si queremos que las filas cuenten desde 1 hacemos slide por todo self.tabla 
    else:
      print(f'Fila no valida')

  def agregar_columna(self,nueva_col:list):
    if len(nueva_col)==self.tamano[0] + 1:
      nueva_tabla = []
      for elemento in nueva_col:
        nueva_tabla.append(self.tabla[nueva_col.index(elemento)] + [elemento])
      self.tabla = nueva_tabla
      self.actualizar_tamano()
    else:
      print('El numero de elementos de la nueva columna no coincide')

  def eliminar_columna(self,columna:int):
    if columna<=self.tamano[1]-1:
      nueva_tabla = []
      for fila in self.tabla:
        nueva_fila = fila
        nueva_fila.pop(columna)
        nueva_tabla.append(nueva_fila)
    else: 
      print(f'Columna no valida.')
    self.actualizar_tamano()

  def agregar_fila(self,nueva_fila:list):
    if len(nueva_fila)==self.tamano[1]:
      self.tabla.append(nueva_fila)
      self.actualizar_tamano()
    else:
      print(f'El numero de elementos de la nueva fila no coincide')
  
  def eliminar_fila(self,fila:int):
    if type(fila)==int and self.tamano[0]-1>=fila>=0:   
      self.tabla.pop(fila+1)
      self.actualizar_tamano()
    else:
      print('Fila no valida')

  def operacion_escalar(self,operacion:str):
    nueva_tabla = self.tabla[:1]
    for fila in self.tabla[1:]:
      nueva_fila = []
      for elemento in fila:
        op = str(elemento) + operacion
        nueva_fila.append(eval(op))
      nueva_tabla.append(nueva_fila)
    self.tabla = nueva_tabla

  def opreacion_columnas(self,operacion):
    try:
      elementos = operacion.split(' ')
      col1 = self.tabla[0].index(elementos[0])
      col2 = self.tabla[0].index(elementos[2])
      op = 'i' + elementos[1] + 'j'
      valores = [(i[0],j[0]) for (i,j) in zip(self.acceder_columna(col1)[1:],self.acceder_columna(col2)[1:])]
      return [[operacion]] + [[eval(op)] for (i,j) in valores ]

    except: 
      print(f'Syntaxis no valida')

  def imprimir_tabla(self):
    return print(self.tabla)

  def ordenar_tabla(tipo_orden='mayor a menor')

In [ ]:
test = Manipular_tabla([['gasto','ingreso'],
                        [100,4500],
                        [150,3500],
                        [35,480]])

### **Tama√±o de la tabla**

In [ ]:
test.tamano

(3, 2)

### **Nombres de las columnas**

In [ ]:
test.nombre_columnas

['gasto', 'ingreso']

### **Tipos de datos columnas**

In [ ]:
test.tipo_datos

[int, int]

### **Verificacion elementos filas**

In [ ]:
test.verificacion_tamano()

Todas las filas tienene el mismo numero de datos

### **Acceder a una columna**

In [ ]:
test.acceder_columna(1)

[['ingreso'], [4500], [3500], [480]]

### **Acceder a una fila**

In [ ]:
test.acceder_fila(2)

[35, 480]

### **Agregar una columna**

In [ ]:
test.agregar_columna(['edad',15,25,35])
test.imprimir_tabla()

[['gasto', 'ingreso', 'edad'], [100, 4500, 15], [150, 3500, 25], [35, 480, 35]]

### **Eliminar una columna**

In [ ]:
test.eliminar_columna(1)
test.imprimir_tabla()

[['gasto', 'edad'], [100, 15], [150, 25], [35, 35]]

### **Agregar una fila**

In [ ]:
test.agregar_fila([250,7000,42])
test.imprimir_tabla()

El numero de elementos de la nueva fila no coincide
[['gasto', 'edad'], [100, 15], [150, 25], [35, 35]]

### **Eliminar una fila**

In [ ]:
test.eliminar_fila(3)
test.imprimir_tabla()

Fila no valida
[['gasto', 'edad'], [100, 15], [150, 25], [35, 35]]

### **Operaciones con un escalar**

In [ ]:
test.operacion_escalar('*10')
test.imprimir_tabla()

[['gasto', 'edad'], [1000, 150], [1500, 250], [350, 350]]

### **Operaciones entre columnas**

In [ ]:
test.opreacion_columnas('ingreso / gasto')

Syntaxis no valida

### **Imprimir datos**

In [ ]:
test.imprimir_tabla()

[['gasto', 'edad'], [1000, 150], [1500, 250], [350, 350]]